body {
  margin: 0;
  background: black;
  overflow: hidden;
}
#viewport {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#viewport > canvas {
  /*width: 100vw !important;
  height: 100vh !important;*/
}
